<%- include('../partials/head') %>

</head>
<body>

  <div class="container">
  <!-- <section> -->
    <span class="bg"></span>
    <%- include('../partials/navbar') %>
        <div class="form-container">
            <h1>Signup</h1>
           <!-- <div class="button-box">
            <div id="btn-toggle">

            </div>
            <button type="button" class="toggle-btn">Login</button>s
            <button type="button" class="toggle-btn">Signup</button>
           </div> -->


    <form action="/signup" method="POST" id="signup">
        <div class="control">
          <% if(msg){ %>
           <div class="user-message"><%=msg%></div>
            <%}%>
        <label for="email">Name</label>
          <input type="text" name="name_user" id="name_user" value="<%=oldInput.aname%>" />
        </div>
        <div class="control">
            <label for="email">Email or Username</label>
              <input type="text" name="email" id="email" value="<%=oldInput.email%>" />
            </div>
        <div class="control">
          <label for="email">Password</label>
            <input type="password" name="pass" id="pass" value="<%=oldInput.pass%>" />
          </div>
         
          <div class="control">
             
               <input type="submit" value="Signup" />
      </form>
      <div class="link">
        <a href="/login">Already have an account?</a>
      </div>
    
        </div>
      </div>
  </body>
</html>
